# Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Virtual envs
.env
.venv/
venv/
env/

# MLflow
mlruns/
mlartifacts/
mlflow.db
mlflow.db-journal

# Databricks
.databricks/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# OS
Thumbs.db
NEXT_STEP.md
.gitignore
make_transparent.py
